@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Poppins", serif;
}

body {
	background-color: #a4ebf3;

	display: block;

	overflow-x: hidden;
}

body > header {
	min-height: 100%;
}

/* Navbar */
nav {
	width: 100%;

	padding: 2rem 1.5rem;

	color: #5a5a5a;

	position: sticky !important;
	top: 0;
	left: 0;

	z-index: 10;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.navbar .container-fluid {
	display: flex;
	flex-direction: row;

	padding: 0;
}

.navbar .container-fluid .navbar-brand {
	margin: 0;

	color: #5a5a5a;

	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.navbar .container-fluid .navbar-brand strong {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title strong {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.navbar .container-fluid .offcanvas .offcanvas-body {
	display: flex;
	flex-direction: column;

	gap: 2.5rem;
}

.navbar-nav {
	display: flex;
	flex-direction: column !important;
	column-gap: 2rem;

	height: fit-content !important;
}

.navbar-nav .nav-item {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */

	margin: 0.5rem 0;
}

.navbar-nav .nav-item .nav-link {
	padding: 0;
	padding-bottom: 0.5rem;

	border-bottom: 1px solid #8b8b8b;

	text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #000000 !important;
}

.navbar-nav .nav-item .nav-link.active {
	color: #000000 !important;

	font-weight: bold;
}

.nav-item .nav-link,
.nav-item .dropdown-menu .dropdown-item {
	color: #858585 !important;
}

.navbar .container-fluid .offcanvas .offcanvas-body .logout-button {
	width: 100%;

	font-weight: bold;
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */

	color: #f4f9f9;

	text-decoration: none;
	text-align: center;

	padding: 0.5rem 2rem;

	border: none;

	background-color: #ff8181;

	transition: 0.2s ease;
}

.navbar .container-fluid .offcanvas .offcanvas-body .logout-button:active {
	transform: translateY(3px);
}

/* Main Section */
main {
	width: 100%;
	padding: 2rem 1rem;
}

main section h1 {
	font-weight: bold;
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */

	margin: 0;
	margin-bottom: 2rem;

	color: #5a5a5a;
}

/* Chat */
.chat-container {
	width: 100%;
	height: 80vh;
	max-height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #eeeeee;

	border-radius: 25px;

	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.chat-container .chat-header {
	width: 100%;
	background: #ffffff;

	padding: 1rem 2rem;

	border-radius: 25px;

	color: #5a5a5a;
}

.chat-container .chat-header h2 {
	font-weight: bold;
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}

.chat-container .chat-header h2 span {
	font-weight: normal;
}

.chat-container .chat-body-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	padding: 1rem;

	overflow-y: auto;
}

.chat-container .chat-body {
	width: 100%;
	max-height: 100%;

	display: flex;
	flex-direction: column;

	color: #5a5a5a;
}

.chat-container .chat-body .left-chat-container,
.chat-container .chat-body .right-chat-container {
	width: fit-content;
	max-width: 90%;
}

.chat-container .chat-body .left-chat-container {
	justify-self: flex-start;
}

.chat-container .chat-body .right-chat-container {
	align-self: flex-end;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chat-container .chat-body .left-chat-container .left-chat,
.chat-container .chat-body .right-chat-container .right-chat {
	padding: 0.5rem 1rem;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-container .chat-body .left-chat-container .left-chat {
	background-color: #a4ebf3;
}

.chat-container .chat-body .right-chat-container .right-chat {
	background-color: #ffffff;
}

.chat-container .chat-body .left-chat-container .left-chat-time,
.chat-container .chat-body .right-chat-container .right-chat-time {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}

.chat-container .chat-body .left-chat-container .left-chat-time {
	padding-left: 1rem;
}

.chat-container .chat-body .right-chat-container .right-chat-time {
	padding-right: 1rem;
}

.chat-container .chat-message-input-field {
	width: 100%;

	padding: 0 1rem 1rem;
}

.chat-container .chat-message-input-field form {
	width: 100%;

	padding: 0.5rem 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	position: relative;

	background-color: #ffffff;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 25px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

	overflow: hidden;
}

.chat-container .chat-message-input-field form textarea {
	width: 100%;

	border: none;

	resize: none;
}

.chat-container .chat-message-input-field form textarea:focus {
	outline: none;
}

.chat-container .chat-message-input-field form button[type="submit"] {
	height: fit-content;

	padding: 0.75rem;

	background-color: #a4ebf3;

	border: none;
	border-radius: 10px;
}

.chat-container .chat-message-input-field form button[type="submit"]:disabled {
	filter: brightness(0.85);
}

@media only screen and (min-width: 575.98px) {
}

@media only screen and (min-width: 767.98px) {
	body {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	/* Navbar */
	nav {
		max-width: 250px;
		min-height: 100vh;
	}

	.navbar {
		flex-direction: column;
	}

	.navbar .container-fluid {
		flex-direction: column;
	}

	.navbar .container-fluid .navbar-brand {
		margin-bottom: 3rem;

		width: 100%;
	}
}
