@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Poppins", serif;
}

body {
	background-color: #a4ebf3;

	display: block;

	overflow-x: hidden;
}

body > header {
	min-height: 100%;
}

/* Navbar */
nav {
	width: 100%;

	padding: 2rem 1.5rem;

	color: #5a5a5a;

	position: sticky !important;
	top: 0;
	left: 0;

	z-index: 10;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.navbar .container-fluid {
	display: flex;
	flex-direction: row;

	padding: 0;
}

.navbar .container-fluid .navbar-brand {
	margin: 0;

	color: #5a5a5a;

	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.navbar .container-fluid .navbar-brand strong {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title strong {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.navbar .container-fluid .offcanvas .offcanvas-body {
	display: flex;
	flex-direction: column;

	gap: 2.5rem;
}

.navbar-nav {
	display: flex;
	flex-direction: column !important;
	column-gap: 2rem;

	height: fit-content !important;
}

.navbar-nav .nav-item {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */

	margin: 0.5rem 0;
}

.navbar-nav .nav-item .nav-link {
	padding: 0;
	padding-bottom: 0.5rem;

	border-bottom: 1px solid #8b8b8b;

	text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #000000 !important;
}

.navbar-nav .nav-item .nav-link.active {
	color: #000000 !important;

	font-weight: bold;
}

.nav-item .nav-link,
.nav-item .dropdown-menu .dropdown-item {
	color: #858585 !important;
}

.navbar .container-fluid .offcanvas .offcanvas-body .logout-button {
	width: 100%;

	font-weight: bold;
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */

	color: #f4f9f9;

	text-decoration: none;
	text-align: center;

	padding: 0.5rem 2rem;

	border: none;

	background-color: #ff8181;

	transition: 0.2s ease;
}

.navbar .container-fluid .offcanvas .offcanvas-body .logout-button:active {
	transform: translateY(3px);
}

/* Main Section */
main {
	width: 100%;
	padding: 2rem 1rem;
}

main section .section-header {
	margin-bottom: 2rem;
}

main section .section-header h1 {
	font-weight: bold;
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */

	margin: 0;

	color: #5a5a5a;
}

main section .section-header .toggle-request {
	padding: 0.5rem 1rem;

	border: none;
	border-radius: 99999px;

	color: #ffffff;

	background-color: #74e48c;
}

/* Seller Request Table */
.seller-request-table-container {
	width: 100%;

	background-color: #ffffff;

	border: none;
	border-radius: 50px;

	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

	text-align: center;
}

.seller-request-table-container table {
	margin: 0;

	color: #5a5a5a;

	vertical-align: middle;
}

.seller-request-table-container table thead tr th {
	padding-top: 1rem;
}

.seller-request-table-container table thead tr th:first-child,
.seller-request-table-container table tbody tr th:first-child {
	padding-left: 1.5rem;
}

.seller-request-table-container table thead tr th:last-child,
.seller-request-table-container table tbody tr td:last-child {
	padding-right: 1.5rem;
}

.seller-request-table-container table tbody tr td:last-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.seller-request-table-container table tbody tr td:last-child a button {
	font-weight: bold;
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */

	padding: 0.25rem 1.25rem;

	border: none;
	background: none;

	color: #ffffff;
}

.seller-request-table-container
	table
	tbody
	tr
	td:last-child
	a
	button.checkmark {
	background-color: #74e48c;
	border-radius: 99999px;
}

.seller-request-table-container table tbody tr td:last-child a button.cross {
	background-color: #ff8181;
	border-radius: 99999px;
}

.seller-request-table-container table tbody tr td:last-child a button.chat {
	width: 2rem;

	padding: 0 0.5rem;
}

/* Buyer Request Table */
.buyer-request-table-container {
	width: 100%;

	background-color: #ffffff;

	border: none;
	border-radius: 50px;

	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

	text-align: center;
}

.buyer-request-table-container table {
	margin: 0;

	color: #5a5a5a;

	vertical-align: middle;
}

.buyer-request-table-container table thead tr th {
	padding-top: 1rem;
}

.buyer-request-table-container table thead tr th:first-child,
.buyer-request-table-container table tbody tr th:first-child {
	padding-left: 1.5rem;
}

.buyer-request-table-container table thead tr th:last-child,
.buyer-request-table-container table tbody tr td:last-child {
	padding-right: 1.5rem;
}

.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	> .buyer-request-respond {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.buyer-request-table-container table tbody tr td:last-child form,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	.buyer-request-respond
	form {
	width: 100%;
}

.buyer-request-table-container table tbody tr td:last-child a button,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	.buyer-request-respond
	form
	button {
	width: 100%;

	font-weight: bold;
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */

	padding: 0.25rem 1.25rem;

	border: none;
	background: none;

	color: #ffffff;
}

.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	form
	button.checkmark,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	.buyer-request-respond
	form
	button.checkmark {
	background-color: #74e48c;
	border-radius: 99999px;
}

.buyer-request-table-container table tbody tr td:last-child a button.cross,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	.buyer-request-respond
	form
	button.cross {
	background-color: #ff8181;
	border-radius: 99999px;
}

.buyer-request-table-container table tbody tr td:last-child a button.chat,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	.buyer-request-respond
	form
	button.chat {
	width: 100%;

	padding: 0;
}

.buyer-request-table-container table tbody tr td:last-child > button,
.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	> .buyer-request-respond
	> button {
	width: fit-content;

	/* padding: 0.25rem 1rem; */

	font-weight: bold;
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */

	border: none;
	border-radius: 99999px;

	background-color: #74e48c;
}

.buyer-request-table-container
	table
	tbody
	tr
	td:last-child
	> .buyer-request-respond
	> button.reviewed {
	background-color: #fff500;
}

/* Modal Content*/
.modal-content {
	background-color: #ffffff;

	padding: 2rem 1.5rem;

	border-radius: 50px;

	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-content > form {
	width: 100%;
}

.modal-content > form > h1 {
	font-weight: 600;
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */

	margin-bottom: 1.5rem;
}

.modal-content > form > .input-field-container {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */

	color: #5a5a5a;

	margin-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-content > form > .input-field-container .input-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.modal-content > form > .input-field-container .input-field.review-description {
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.modal-content > form > .input-field-container .input-field > label {
	flex-basis: 80px;
}

.modal-content
	> form
	> .input-field-container
	.input-field.rating
	.select-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;
}

.modal-content
	> form
	> .input-field-container
	.input-field.rating
	.select-container
	select {
	min-width: 100%;

	padding: 0.5rem 1.5rem;

	background-color: #ffffff;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 50px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

	cursor: pointer;

	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

.modal-content
	> form
	> .input-field-container
	.input-field.rating
	.select-container
	select::-ms-expand {
	display: none;
}

.modal-content
	> form
	> .input-field-container
	.input-field.rating
	.select-container
	> span {
	position: relative;
	left: -2rem;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.modal-content > form > .input-field-container .input-field.rating .star {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */

	color: #ded500;
}

.modal-content
	> form
	> .input-field-container
	.input-field.review-description
	> label {
	flex-basis: initial;
}

.modal-content
	> form
	> .input-field-container
	.input-field.review-description
	> textarea {
	width: 100%;

	padding: 1rem 1.5rem;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 25px;

	background-color: #fff;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-content > form > .btn-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;
}

.modal-content > form > .btn-container > button {
	padding-left: 1rem;
	padding-right: 1rem;

	font-weight: bold;

	border: none;
	border-radius: 99999px;
}

.modal-content > form > .btn-container > button[type="reset"] {
	background-color: #ff8181;
}

.modal-content > form > .btn-container > button[type="submit"] {
	background-color: #74e48c;
}

@media only screen and (min-width: 575.98px) {
}

@media only screen and (min-width: 767.98px) {
	body {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	/* Navbar */
	nav {
		max-width: 250px;
		min-height: 100vh;
	}

	.navbar {
		flex-direction: column;
	}

	.navbar .container-fluid {
		flex-direction: column;
	}

	.navbar .container-fluid .navbar-brand {
		margin-bottom: 3rem;

		width: 100%;
	}
}
